
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Atomic</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.staticfile.org/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway|Nunito|Signika' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <style>
      * {
        font-family: 'Nunito', 'Ubuntu', sans-serif
      }

    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right red">
          <li><a class="btn" href="#">Sign Up</a></li>
          <li><a class="btn" href="#"> Login </a></li>
        </ul>
        <h3 class="text-muted">Atomic <small>atomic is not a bbs</small></h3>
      </div>

      <div class="container-fluid">
        <time class="date" datetime="2014-06-02">
      <span class="date-day">02</span>
      Monday, June 2nd
    </time>
         <table class="posts-group">
          <tr class="post">
            <td class="upvote">
              <a href="javascript:void(0)" class="upvote-link"></a>
              <span class="vote-count">5</span>
            </td>
            <td class="user-image-td user-with-tooltip">
              <a href="#">
                <img alt="Hunterwalk" class="user-image" height="60" src="http://www.gravatar.com/avatar/123332?d=identicon&f=y" width="60">
              </a>
            </td>
            <td class="url">
              <a class="post-url" href="/l/ad0c80efe3" target="_blank">使用css样式解决实现div同行并排显示</a>
              <span class="post-actions">
                ·
                  <a href="/posts/curbside" class="view-discussion" data-url="/posts/curbside" data-id="3800">
                    1 comment
                  </a>
              </span>
            </td>
          </tr>

          <tr class="post">
            <td class="upvote">
              <a href="javascript:void(0)" class="upvote-link"></a>
              <span class="vote-count">5</span>
            </td>
            <td class="user-image-td user-with-tooltip">
              <a href="#">
                <img alt="Hunterwalk" class="user-image" height="60" src="http://www.gravatar.com/avatar/123332?d=identicon&f=y" width="60">
              </a>
            </td>
            <td class="url">
              <a class="post-url" href="/l/ad0c80efe3" target="_blank">Curbside</a>
              <span class="post-tagline">Find, buy and pickup products at nearby stores</span>
              <span class="post-actions">
                ·
                  <a href="/posts/curbside" class="view-discussion" data-url="/posts/curbside" data-id="3800">
                    1 comment
                  </a>
              </span>
            </td>
          </tr>


          <tr class="post">
            <td class="upvote">
              <a href="javascript:void(0)" class="upvote-link"></a>
              <span class="vote-count">5</span>
            </td>
            <td class="user-image-td user-with-tooltip">
              <a href="#">
                <img alt="Hunterwalk" class="user-image" height="60" src="http://www.gravatar.com/avatar/123322232?d=identicon&f=y" width="60">
              </a>
            </td>
            <td class="url">
              <a class="post-url" href="/l/ad0c80efe3" target="_blank">Curbside</a>
              <span class="post-tagline">Find, buy and pickup products at nearby stores</span>
              <span class="post-actions">
                ·
                  <a href="/posts/curbside" class="view-discussion" data-url="/posts/curbside" data-id="3800">
                    1 comment
                  </a>
              </span>
            </td>
          </tr>


          <tr class="post">
            <td class="upvote">
              <a href="javascript:void(0)" class="upvote-link"></a>
              <span class="vote-count">5</span>
            </td>
            <td class="user-image-td user-with-tooltip">
              <a href="#">
                <img alt="Hunterwalk" class="user-image" height="60" src="http://www.gravatar.com/avatar/123322231?d=identicon&f=y" width="60">
              </a>
            </td>
            <td class="url">
              <a class="post-url" href="/l/ad0c80efe3" target="_blank">Curbside</a>
              <span class="post-tagline">Find, buy and pickup products at nearby stores</span>
              <span class="post-actions">
                ·
                  <a href="/posts/curbside" class="view-discussion" data-url="/posts/curbside" data-id="3800">
                    1 comment
                  </a>
              </span>
            </td>
          </tr>

        </table>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
