
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Atomic</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.staticfile.org/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway|Nunito|Signika' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">

    <link media="all" rel="stylesheet" type="text/css" href="./styles/font-awesome.css" />
    <link media="all" rel="stylesheet" type="text/css" href="./styles/simditor.css" />

    <script type="text/javascript" src="./scripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/js/module.js"></script>
    <script type="text/javascript" src="./scripts/js/uploader.js"></script>
    <script type="text/javascript" src="./scripts/js/simditor.js"></script>
    <style>
      * {
        font-family: 'Nunito', 'Ubuntu', sans-serif
      }
      textarea {
        width: 100px;
      }
      input {
        margin-bottom: 10px;
      }
      .save {
        width: 100px;        
      }
    </style>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right red">
          <li><a class="btn" href="#">Sign Up</a></li>
          <li><a class="btn" href="#"> Login </a></li>
        </ul>
        <h3 class="text-muted">Atomic <small>atomic is not a bbs</small></h3>
      </div>

      <div class="container-fluid">
        <input type="text" class="form-control" placeholder="Title">
        <textarea id="editor"></textarea>
        <br/>

        <button class="btn btn-success pull-right save"> Save </button>
      </div>

    </div> <!-- /container -->
    <script>
    var editor = new Simditor({
      textarea: $('#editor')
    });
    </script>
  </body>
</html>
